@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
@layer components {
  .header-nav__title {
    @apply text-white/90 font-semibold text-[15px] hover:text-red-700 duration-200;
  } /* flex ims */
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col__end {
    @apply h-full w-full flex flex-col justify-end md:items-start space-y-4 lg:space-y-7;
  }
  /* img */
  .img-style {
    @apply  
    shadow-lg md:min-w-full mx-auto hover:scale-105 duration-200;
  }
  /* filter */
  .dark-filter {
    @apply hover:backdrop-brightness-50 h-full w-full p-6 duration-300;
  }
  .skewbg {
    @apply skew-x-[-20deg] h-full w-[80%] md:w-[100%] lg:w-[80%] relative ml-10 right-14 md:right-14 px-10 md:px-4 py-1;
  }
  /* btn */
  .btnShop {
    @apply text-lg hover:bg-white py-2 w-[100%] bg-black/80 text-red-600 duration-200 absolute right-0 min-w-[120px]  mt-5 hidden md:block;

  }
  .btn-red{
  @apply
  bg-red-600 font-bold text-white rounded-2xl w-full py-1 hover:bg-white hover:text-red-700 relative mt-2 duration-[.2s] space-x-2 active:translate-y-1;
  }
  /* typography */
  .title {
    @apply text-white text-2xl md:text-3xl lg:text-4xl md:w-1/2;
  }
  /* icons */
  .icon-detail {
    @apply absolute bg-slate-900/90  top-[-50px] w-24 left-[-34px] opacity-0 group-hover:opacity-100 group-hover:top-[-43px] duration-300 rounded-xl text-white text-[14px] py-[5px] px-[1px];
  }
  .icon-hover {
    @apply  inline-block p-1 duration-100 rounded-full hover:text-red-600 hover:bg-black/20;
  }
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 80%;
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
